body, html {
  margin: 0;
  width: 100%;
  position: absolute;

}

img {
  width: 100% !important;
  height: 100% !important;
}

figure {
  margin: 0;
}

body {
  background-image: url("../img/bgHeader.jpg");
  background-size: cover;
  background-attachment: fixed;
}
body #navheader{
  background-color: rgba(35,35,35,0.5);
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 0 16px;
}
body #navheader a{
  color: white;
  position: relative;
}
body #navheader a::after{
  content:'';
  position: absolute;
  background-color: white;
  width: 0%;
  height: 3px;
  left: 0;
  bottom: 0;
  transition: 0.2s;
}
body #navheader a:hover::after{
  width: 100%;
}
body #header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  color: white;
}
body #header h1 {
  margin: auto;
  text-align: center;
  font-weight: bold;
  color: white;
  text-shadow: 0px 0px 90px black;
  font-size: 12vw;
  font-family: 'Satisfy', cursive;
}
body #header input {
  padding: 10px;
  border: none;
  margin: auto;
  position: relative;
  margin-bottom: 50px;
  background-color: #27AE61;
  transition: 0.2s;
}
body #header input:hover {
  background-color: #006B14;
}

/*MAIN @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
body #main {
  margin: 0;
}
body #main .intro {
  width: 100%;
  margin: 0;
  padding: 50px 10px ;
  background-color: #F1F2F399;
}
body #main .intro img{
  height: auto!important;
}
body #main .intro img{
  border-radius: 2px;
}
body #main .intro div{
padding: 50px 20px;
margin: 0 !important;
}
body #main .intro .card h2 {
  font-size: 38px;
}
body #main .prods {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
body #main .prods .childCard {
  background-size: cover;
  z-index: 3;
  margin-top: 0 !important;
  padding: 0;
}
body #main .prods .childCard .colorBack {
  height: 270px;
  text-shadow: 0 0 40px black;
  font-weight: bold;
  transition: 0.4s;
}
body #main .prods .childCard .colorBack:hover {
  background-color: transparent !important;
}
body #main .prods .childCard .colorBack:hover p, body #main .prods .childCard .colorBack:hover .card-title {
  color: transparent !important;
}
body #main .prods .childCard .colorBack .card-title {
  color: white;
  padding: 30px 20px;
}
body #main .prods .childCard .colorBack p {
  color: white;
  max-width: 250px;
  padding-left: 20%;
}
body #main .prods .childCard .colorBack form {
  display: flex;
}
body #main .prods .childCard .colorBack form .viewChild {
  padding: 10px;
  border: none;
  margin: auto;
  position: relative;
  background-color: #efd334;
  color: white;
  transition: 0.4s;
}
body #main .prods .childCard .colorBack form .viewChild:hover {
  background-color: #827218;
}

/*PAGE ADD @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
#add{
  background-color: rgba(255, 255, 255,0.8);
  padding: 90px 0;
}


/*footer @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.footerUp{
  background-color: rgba(255, 255, 255,0.8) !important;

}
.bg-primary {
 background-color: rgba(0, 0, 0,0.8) !important;
}

.bg-circle
{
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 14px 4px;
  color: #ececec;
  text-align: center;
  border-radius: 50%;
}

.bg-circle-outline
{
  width: 50px;
  height: 50px;
  color:smoke;
  padding: 8px 2px;
  border: 2px solid;
  border-color: smoke;
  border-radius: 50%;
}


.bg-circle a, a:hover, .media a:focus
{
  text-decoration: none !important;
  outline: none;
  color: #ececec;
}
.bg-circle-outline a, a:hover, .media a:focus
{
  text-decoration: none !important;
  outline: none;
  color: #ececec;
}


/*# sourceMappingURL=style.css.map */
/*Remi said "Anass you have to use the 300 lines for css @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@"*/
.description{
  margin: 0;
  padding: 50px 0;
}

/*
 * Specific styles of signin component
 */
/*
 * Gonnexion @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
 */
#mainConnexion .card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

#mainConnexion .btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
#mainConnexion .card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

#mainConnexion .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#mainConnexion .form-signin input{
    margin-bottom: 10px;
}

#mainConnexion .form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

#mainConnexion .btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

#mainList{
  overflow-x: scroll;
}
#mainList .table{
  background-color: rgba(255, 255, 255,0.8);
}
#mainList .supr{
  color: red !important;
}
