body, html {
  margin: 0;
  width: 100%;
}
img{
  width: 100% !important;
  height: 100% !important;
}
figure{
  margin: 0;
}
body{
  background-image: url('../img/bgHeader.jpg');
  background-size: cover;
  background-attachment: fixed;
  #header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    h1{
      margin: auto;
      text-align: center;
      font-weight: bold;
      color: white;
      text-shadow: 0px 0px 90px black;
      font-size: 12vw;
      font-family: 'Satisfy', cursive;
    }
    input{
      padding: 10px;
      border: none;
      margin: auto;
      position: relative;
      margin-bottom: 50px;
      background-color: #27AE61;
      color: white;
      transition: 0.2s;
      &:hover{
        background-color: #006B14;
      }
    }
  }
  #main{
    .intro{
      .card{
        padding: 10px;
        background-color: #F1F2F3 ;
        h2{
          font-size: 38px;
        }
      }
    }
    .prods{
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      .childCard{
        z-index: 3;
        margin-top: 0 !important;
        padding: 0;
        .colorBack{
          height: 270px;
          text-shadow: 0 0 40px black;
          font-weight: bold;
          transition: 0.2s;
          &:hover{
            background-color: transparent !important;
          }
          &:hover p,&:hover .card-title{
            color: transparent !important;
          }
          .card-title{
            color: white;
            padding: 30px 20px;
          }
          p{
            color: white;
            width: 60%;
            padding-left: 20%;
          }
          form{
            display: flex;
            .viewChild{
              padding: 10px;
              border: none;
              margin: auto;
              position: relative;
              background-color: #efd334;
              color: white;
              transition: 0.2s;
              &:hover{
                background-color: #827218;
              }
            }
          }
        }
      }
    }
  }
}
